.codepen-embed {
  margin-left: -30px;
  padding: 16px 30px;
  width: 100%;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-color: #f8f8f8;
  height: 600px;
  
}
.codepen-embed--disabled {
  height: auto;
}
.codepen-embed p {
  margin-bottom: 0;
}

.docs .highlight {
  border-radius: 2px;
  margin-left: -30px;
padding: 16px 30px;
width: 100%;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
margin-bottom: 26px;
}

.row--heading {
  position: relative;
}
.section--head p {
  text-align: left;
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 24px;

   font-size: 19px;
  line-height: 29px;
  
}
.section--head .github-button {
  position: absolute;
  right:0;
  top:0;
}
.row--nav {
  text-align: center;
  font-size: 32px;
  line-height: 1.1; 
}
.navigation {
  width: 100%;
  background: #F7F7F7;
  position: relative;
  padding: 30px 0;
}
.navigation a {
  text-decoration: none;
  border-bottom: 1px solid #92ABCD;
}

.section--head p,
.title-block p {
  color: #666;
}

.title-block p {
  font-size: 19px;
  line-height: 29px;
}

.section {
  width: 100%;
  margin-top: 176px;
}
.docs {
  margin-top: 60px;
}
.section--head {
  margin: 0;
  background: #EEE;
  padding: 132px 0;
}

img.img--with_border {
  border: 1px solid #DDD;
  border-radius: 2px;
}
.img-desc {
  margin-left: 212px;
}


/* clearfix */

.section--head h1 a {
  vertical-align: super;
  font-size: 14px;
  text-decoration: none;
}

.row--modules ul {
  list-style: none;
  margin-left: 0;
  /*color: rgba(255, 255, 255, 0.8);*/
}
.row--modules span {
  font-wight:600;
  border-left:5px solid #FFF;
  padding-left:5px;
  margin-left:-10px;
}

.size-chart {
  width: 100%;
  display: inline-block;
}

.size-chart div {
  height: 21px;
  float: left;
  font-size: 13px;
  padding: 4px;
  line-height: 1;
}

.block__ui-separated {
  position: relative;
}
.block__ui-separated .col-50 {
  position: absolute;
  left: 0;
  top:12px;
}
.block__ui-separated img {
  float: right;
  max-width: 450px;
}


.demo-gallery {
  width: 100%;
  height: auto;
  float: left;
}
.demo-gallery a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  display: block;
  float: left;
  margin: 0 1% 1% 0;
  width: 32.6%;
  line-height: 0;
}
.demo-gallery a:nth-child(3n) {
    margin-right: 0;
}


.demo-gallery figure {
  display: none;
}
.demo-gallery__title {
  line-height: 14px;
  font-size: 14px;
  opacity: 0.8;
  margin-top: 5px;
  width: 100%;
  float: left;
}



@media screen and (max-width: 1000px) {

 

  .row--wide {
    max-width: 800px;
  }
  .row--wide img {
    float: none;
  }
  .img-desc {
    margin-left: 0;
  }
  .section {
    margin-top: 132px;
  }

  .row--docs {
    max-width: 800px;
    padding-left: 30px;

  }
  
  .section--head {
    margin-top:0;
    padding: 30px 0;
  }

  .docs {
    margin-top: 48px;
  }

  .docs-menu {
    position: relative;
    margin: 15px 0;
    left:0;
    top:0;
  }
  .docs-menu  ul {
    position: relative;
  }
  .docs-menu__ad {
    display: none;
  }

  .row--nav {
    font-size: 24px;
    line-height: 1.1; 
  }

}



@media screen and (max-width: 650px) {
   h1 {
    font-size: 40px;
  }
  .block__ui-separated .col-50 {
    position: relative;
    top: 0;
  }
  .block__ui-separated img {
    max-width: 100%;
    width: 100%;
    float: left;
  }
}

@media screen and (max-width: 450px) {
  

  .col-50:nth-child(1) {
    margin-right: 0;
  }
  .row--wide img {
    margin-bottom: 6px;
  }
  .col-50 {
    width: 100%;
    margin-bottom: 12px;
  }
  .row {
    padding: 0 18px;
  }
  .docs .highlight,
  .codepen-embed {
    padding-left: 18px;
    padding-right: 18px;
    margin-left: -18px;
  }
  .section {
    margin-top: 88px;
  }
  .docs {
    margin-top: 32px;
  }
  .section--head {
    margin-top:0;
    padding: 24px 0;
  }
  .row--nav {
    font-size: 18px;
    line-height: 26px; 
  }


}

@media screen and (max-width: 768px) {

  .row--nav {
    font-size: 18px;
    line-height: 26px; 
  }
  .section--head p {
    font-size: 18px;
    line-height: 24px;
  }
}




@media screen and (max-width: 480px) {
  .demo-gallery a {
    width: 49%;
    margin:0 2% 2% 0 !important;
  }
 .demo-gallery a:nth-child(2n) {
    margin-right: 0 !important;
}
 
}


@media screen and (max-width: 479px) {
   .demo-gallery a {
    width: 100%;
    margin:0 0% 2% 0 !important;
  }
 
}
.demo-gallery a { position: relative;}
.demo-gallery a:after {
	background: rgba(63, 81, 181, 0.8) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
	  transition: all 0.3s ease 0s; opacity: 0;}
.demo-gallery a:hover:after {display: block;  opacity: 1;}


