input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}

.error {
 color: #ef5350;
 font-size: 12px;
 font-weight: 500;
}
.parsley-error {
 border-color: #ef5350 !important;
}
.parsley-errors-list {
 display: none;
 margin: 0;
 padding: 0;
}
.parsley-errors-list.filled {
 display: block;
}
.parsley-errors-list > li {
 font-size: 12px;
 list-style: none;
 color: #f6504d;
}